# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Vim
.*.sw[a-z]
*.un~
Session.vim
